<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace : 해당 XML파일을 어떤 Mapper 인터페이스와 연결할지를 정해주는 속성.
-->
<mapper namespace="com.kh.demo.board.mapper.CommentMapper">
   <insert id="insertComment" parameterType="CommentDto" useGeneratedKeys="true" keyProperty="commentId">
       INSERT INTO comment (board_id, member_id, content)
        VALUES (#{boardId}, #{memberId}, #{content})
   </insert>

    <select id="selectCommentById" parameterType="long" resultType="CommentDto">
        SELECT c.comment_id, c.board_id, c.member_id, c.content, c.create_at,
               DATE_FORMAT(c.create_at, '%Y-%M-%d %H:%i') AS create_at_str,
               m.nickname as writer_nickname
        FROM comment c
        LEFT JOIN member m ON c.member_id = m.member_id
        WHERE c.comment_id = #{commentId}
    </select>

    <select id="selectCommentsByBoardId" parameterType="long" resultType="CommentDto">
        SELECT c.comment_id, c.board_id, c.member_id, c.content, c.create_at,
        DATE_FORMAT(c.create_at, '%Y-%M-%d %H:%i') AS create_at_str,
        m.nickname as writer_nickname
        FROM comment c
        LEFT JOIN member m ON c.member_id = m.member_id
        WHERE c.board_id = #{boardId}
        ORDER BY c.comment_id ASC
    </select>

    <delete id="deleteComment" parameterType="long">
        DELETE FROM comment WHERE comment_id = #{commentId}
    </delete>
</mapper>